@import 'normalize.css';
@import './_variable';

@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;1,800&display=swap');

body {
  font-family: 'Rubik', sans-serif;
}

.container {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;

  @media (max-width: 767px) {
    padding: 0 20px;
  }
}

.nav {
  height: 50px;
  background-color: $primary;
  display: flex;
  align-items: center;
  color: $white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}

.label {
  display: inline-block;
}

.input,
.select {
  display: block;
  margin-top: 10px;
  padding: 12px 20px;
  line-height: 18px;
  border: 1px solid $grey;
  border-radius: 5px;
}

.button {
  background-color: $white;
  border: none;
  background: $light-grey;
  padding: 8px 12px;
  color: $black;
  text-transform: uppercase;
  cursor: pointer;
  border: 1px solid $light-grey;
  border-radius: 5px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    background-color: darken($light-grey, 10%);
  }

  &:focus {
    outline: none;
  }

  &.primary {
    background: $primary;
    color: $white;

    &:hover {
      background: darken($primary, 10%);
      color: $white;
    }
  }

  &.warning {
    background: $orange;
    color: $white;

    &:hover {
      background: darken($orange, 10%);
      color: $white;
    }
  }

  &.danger {
    background: $red;
    color: $white;

    &:hover {
      background: darken($red, 10%);
      color: $white;
    }
  }

  &.success {
    background: $green;
    color: $white;

    &:hover {
      background: darken($green, 10%);
      color: $white;
    }
  }

  &.block {
    width: 100%;
  }
}

.product-wrapper {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;

  @media (max-width: 767px) {
    grid-template-columns: 1fr 1fr;
  }
}

.product-card {
  background: $white;
  border-radius: 8px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
  padding: 20px;
  display: grid;
  grid-template-areas:
    'image'
    'name'
    'department'
    'color'
    'price'
    'button';
  grid-template-rows: 180px 30px 20px 20px 24px 40px;

  .product-image {
    width: 100%;
    min-width: 100px;
    margin-bottom: 20px;
    object-fit: cover;
    background: $light-grey;
    grid-area: image;
  }

  .product-name {
    margin-top: 0;
    color: $black;
    margin-bottom: 10px;
    grid-area: name;
  }

  .product-department,
  .product-color {
    margin-bottom: 10px;
    color: $grey;
    font-size: 14px;
  }

  .product-color {
    grid-area: color;
  }

  .product-department {
    grid-area: department;
  }

  .product-price {
    margin-bottom: 20px;
    color: $green;
    text-align: center;
    grid-area: price;
  }

  .product-button {
    grid-area: button;
  }
}
.mt-5 {
  margin-top: 80px;
}

.search-wrapper {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  background: $white;

  border-radius: 8px;
  padding: 20px;
  border: 1px solid $light-grey;
}

#search-input {
}

.form {
  display: flex;
  justify-content: space-around;
}

.nav-menus {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.table {
  width: 100%;
  margin-bottom: 1rem;
  background-color: transparent;

  thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
  }
  tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
  }
  th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
    padding: 0.75rem;
    border-top: 1px solid #dee2e6;
  }

  tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
    font-size: 14px;
  }

  td {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
  }
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.card {
  background: $white;
  border-radius: 8px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
  padding: 20px;
}

.modal {
  position: fixed;
  z-index: 999999;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(8px);

  .inner-modal {
    background: $white;
    border-radius: 8px;
    max-width: 500px;
    width: 100%;
    max-height: 300px;
    height: 100%;
    box-shadow: 0px 2px 30px rgba(0, 0, 0, 0.2);
    display: grid;
    grid-template-areas: 'closeButton';
    grid-template-rows: 30px auto;
    padding: 20px;

    .close-modal {
      background: transparent;
      border: none;
      grid-area: closeButton;
      width: 40px;
      margin-left: auto;
      cursor: pointer;
    }

    .quantity-modifier-wrapper {
      width: auto;
      display: grid;
      grid-template-areas: 'decrement input increment';
      grid-template-columns: 50px 100px 50px;
      grid-template-rows: 50px;
      margin: 0 auto;

      .quantity-input {
        text-align: center;
      }

      .button {
      }
    }
  }
}

.cart {
  .product-image {
    max-width: 80px;
  }
}

.checkout {
  height: 50px;
  padding: 12px 30px;
}

.thankyou-wrapper {
  width: 70%;
  margin: 0 auto;
}
