@import 'normalize.css';
@import './_variable';

@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;1,800&display=swap');

body {
  font-family: 'Rubik', sans-serif;
}

.container {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
}

.nav {
  height: 50px;
  background-color: $primary;
  display: flex;
  align-items: center;
  color: $white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.label {
  display: inline-block;
}

.input,
.select {
  display: block;
  margin-top: 10px;
  padding: 12px 20px;
  line-height: 18px;
  border: 1px solid $grey;
  border-radius: 5px;
}

.button {
  background-color: $white;
  border: none;
  background: $light-grey;
  padding: 8px 12px;
  color: $black;
  text-transform: uppercase;
  cursor: pointer;
  border: 1px solid $light-grey;
  border-radius: 5px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  text-decoration: none;

  &:hover {
    background-color: darken($light-grey, 10%);
  }

  &:focus {
    outline: none;
  }

  &.primary {
    background: $primary;
    color: $white;

    &:hover {
      background: darken($primary, 10%);
      color: $white;
    }
  }
  &.block {
    width: 100%;
  }
}

.product-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.product-card {
  background: $white;
  border-radius: 8px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
  padding: 20px;

  .product-image {
    width: 100%;
    margin-bottom: 20px;
    object-fit: cover;
    max-height: 180px;
    min-height: 180px;
    background: $light-grey;
  }

  .product-name {
    margin-top: 0;
    color: $black;
    margin-bottom: 10px;
  }

  .product-department,
  .product-color {
    margin-bottom: 10px;
    color: $grey;
    font-size: 14px;
  }

  .product-price {
    margin-bottom: 20px;
    color: $green;
    text-align: center;
  }
}
.mt-5 {
  margin-top: 80px;
}

.search-wrapper {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  background: $white;

  border-radius: 8px;
  padding: 20px;
  border: 1px solid $light-grey;
}

#search-input {
}

.form {
  display: flex;
  justify-content: space-around;
}

.nav-menus {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
